
<div class="col-md-12">
 
    <div class="modal-header">       
      <h4 class="modal-title">Add Your Employee</h4>
    </div>
    <form class="form-horizontal"  #form="ngForm" (ngSubmit)="addemployee(form.value); " enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="alert alert-success" *ngIf="success">
                <strong>{{success}}</strong> 
              </div>
    <div class="col-md-4" style="float: left">
        <h4 class="modal-title">{{error}}</h4>
        <div class="form-group">
          <label class="control-label col-sm-12" for="ecode">Employee Code</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"  (keypress)="isChar($event.keyCode)" required name="ecode" id="ecode" placeholder="Enter Employee Code (ABC123)"  ngModel>
          </div>
         
        </div>
          <div class="form-group">
              <label class="control-label col-sm-12" for="ename">Employee Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"  (keypress)="isChar($event.keyCode)" required name="ename" id="ename" placeholder="Enter Employee Name"  ngModel>
              </div>
             
            </div>
            <div class="form-group">
              <label class="control-label col-sm-12" for="mobile">Phone Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" (keypress)="isNumber($event.keyCode)" required name="mobile" id="mobile" placeholder="Enter Mobile Number"  ngModel>
              </div>
            </div> 

            <div class="form-group">
                <label class="control-label col-sm-12" for="email"> Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" required name="email" id="email" placeholder="Enter Email"  ngModel>
                </div>
              </div>             
                <div class="form-group">
                  <label class="control-label col-sm-12" for="password">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" (keypress)="isNumber($event.keyCode)" required name="password" id="password" placeholder="********"  ngModel>
                  </div>
                </div>             
        
       
    </div>
    <div class="col-md-4" style="float: left">
        <label class="control-label col-sm-12" >Choose Permission</label>
     
      <ul>
          <div *ngFor="let menu of menus | async; let i=index">
          <li class="permission-block" *ngIf="menu.murl=='#'">
            <span  class="name">
                <input type="checkbox"    value="{{menu.mname}}" id="{{'permissionh'+i}}" (change)="chekboxchecked([$event.target.getAttribute('value')],$event.target.checked)"  >
                <label  for="{{'permissionh'+i}}" >{{menu.mname}}</label>
            </span>
              <ul>
                <div *ngFor="let menu1 of menus | async; let j=index">
                <li *ngIf="menu1.parrent==menu.mname">
                    <input type="checkbox" class="{{menu.mname}}"    value="{{menu1.mname}}" id="per{{j}}" (change)="chekboxchecked([$event.target.getAttribute('value')],$event.target.checked)"  >
                    <label  for="per{{j}}" >{{menu1.mname}}</label></li> 
                </div>
          
               
              </ul>
            </li>
          </div>
      </ul>
    </div>
    <div class="col-md-4" style="float: left">
        
    </div><!-- upload file end -->
        </div>
        <div class="clearfix"></div>
    <div class="col-md-12">
      <div class="form-group"> 
        <div class="col-sm-offset-6" style="text-align:center">
          <button type="submit" class="btn btn-default">Add Employee</button>
        </div>
      </div>
   
    </div>
  

  </form>
    
</div>

