<ul id="side-nav" class="side-nav">
  <li [routerLinkActive]="['active']">
    <a routerLink="dashboard"><i class="fa fa-home"></i> <span class="name">Dashboard <sup class="text-warning fw-bold">new</sup></span></a>
  </li>
<!--  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav" href="#vendors-collapse">
			 <i class="fa fa-pencil"></i>
			 <span class="name">Vendors</span>
		 </a>
    <ul id="vendors-collapse" class="accordion-body collapse" aria-expanded="false">
      <li [routerLinkActive]="['active']"><a routerLink="vendors/vendor">Add Vendor</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="vendors/vendorlist">List Vendor</a></li>

     
    </ul>
  </li>
  <li class="accordion-group panel" [routerLinkActive]="['active']">
      <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
         data-parent="#side-nav" href="#contractor-collapse">
         <i class="fa fa-pencil"></i>
         <span class="name">Contractors</span>
       </a>
      <ul id="contractor-collapse" class="accordion-body collapse" aria-expanded="false">
        <li [routerLinkActive]="['active']"><a routerLink="masters/contractor">Add Contractor</a></li> 
         <li [routerLinkActive]="['active']"><a routerLink="masters/listcontractor">List Contractor</a></li>
  
       
      </ul>
    </li>

    <li class="accordion-group panel" [routerLinkActive]="['active']">
      <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
         data-parent="#side-nav" href="#trade-collapse">
         <i class="fa fa-pencil"></i>
         <span class="name">Trade</span>
       </a>
      <ul id="trade-collapse" class="accordion-body collapse" aria-expanded="false">
        <li [routerLinkActive]="['active']"><a routerLink="masters/category">Add Trade</a></li> 
         <li [routerLinkActive]="['active']"><a routerLink="masters/listcategory">List Trade</a></li>
  
       
      </ul>
    </li>


    <li class="accordion-group panel" [routerLinkActive]="['active']">
      <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
         data-parent="#side-nav" href="#unit-collapse">
         <i class="fa fa-pencil"></i>
         <span class="name">Units</span>
       </a>
      <ul id="unit-collapse" class="accordion-body collapse" aria-expanded="false">
        <li [routerLinkActive]="['active']"><a routerLink="masters/unit">Add Unit</a></li> 
         <li [routerLinkActive]="['active']"><a routerLink="masters/listunit">List Unit</a></li>
  
       
      </ul>
    </li>

    <li class="accordion-group panel" [routerLinkActive]="['active']">
      <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
         data-parent="#side-nav" href="#quantity-collapse">
         <i class="fa fa-pencil"></i>
         <span class="name">Quantity</span>
       </a>
      <ul id="quantity-collapse" class="accordion-body collapse" aria-expanded="false">
        <li [routerLinkActive]="['active']"><a routerLink="masters/quantity">Add Quantity</a></li> 
         <li [routerLinkActive]="['active']"><a routerLink="masters/listquantity">List Quantity</a></li>
  
       
      </ul>
    </li>

    <li class="accordion-group panel" [routerLinkActive]="['active']">
      <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
         data-parent="#side-nav" href="#item-collapse">
         <i class="fa fa-pencil"></i>
         <span class="name">Item Materials</span>
       </a>
      <ul id="item-collapse" class="accordion-body collapse" aria-expanded="false">
        <li [routerLinkActive]="['active']"><a routerLink="masters/item">Add Material</a></li> 
         <li [routerLinkActive]="['active']"><a routerLink="masters/listitem">List Materials</a></li>
  
       
      </ul>
    </li>
    
    <li class="accordion-group panel" [routerLinkActive]="['active']">
      <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
         data-parent="#side-nav" href="#employee-collapse">
         <i class="fa fa-pencil"></i>
         <span class="name">Employee</span>
       </a>
      <ul id="employee-collapse" class="accordion-body collapse" aria-expanded="false">
        <li [routerLinkActive]="['active']"><a routerLink="masters/employee">Add Employee</a></li> 
         <li [routerLinkActive]="['active']"><a routerLink="masters/listemployee">List Employee</a></li>
  
       
      </ul>
    </li>-->
   

    <!--Start Dymnamic menus -->


   <!-- <li class="accordion-group panel" [routerLinkActive]="['active']" *ngFor="let menu of menus; let i=index">
      <a *ngIf="menu.murl=='#'" (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
         data-parent="#side-nav" href="#{{'menu'+i}}-collapse">
         <i class="fa fa-pencil"></i>
         <span class="name">{{menu.mname}}</span>
       </a>
      <ul id="{{'menu'+i}}-collapse" class="accordion-body collapse" aria-expanded="false">
        <div *ngFor="let menu1 of menus; let i=index">
        <li *ngIf="menu1.parrent==menu.mname" [routerLinkActive]="['active']"><a routerLink="{{menu1.murl}}">{{menu1.mname}}</a></li> 
        </div>
  
       
      </ul>
    </li>-->
    <li [routerLinkActive]="['active']">
      <a routerLink="masters/bids"><i class="fa fa-plus"></i> <span class="name">New Bid</span></a>
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="masters/listvendor"><i class="fa fa-pencil"></i> <span class="name">Vendors</span></a>
    </li>
    <li [routerLinkActive]="['active']">
        <a routerLink="masters/listcontractor"><i class="fa fa-pencil"></i> <span class="name">Contractor</span></a>
      </li>
      <li [routerLinkActive]="['active']">
          <a routerLink="masters/listcostdata"><i class="fa fa-pencil"></i> <span class="name">Cost Data</span></a>
        </li>
        <li [routerLinkActive]="['active']">
            <a routerLink="masters/listitem"><i class="fa fa-pencil"></i> <span class="name">Item Material</span></a>
          </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="masters/materiallist"><i class="fa fa-pencil"></i> <span class="name">Material List</span></a>
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="masters/tradelist"><i class="fa fa-pencil"></i> <span class="name">Trade</span></a>
    </li>
    <li [routerLinkActive]="['active']">
        <a routerLink="masters/listemployee"><i class="fa fa-pencil"></i> <span class="name">Employee</span></a>
      </li>

   <!--<li class="accordion-group panel" [routerLinkActive]="['active']">
      <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
         data-parent="#side-nav" href="#menu-collapse">
         <i class="fa fa-pencil"></i>
         <span class="name">Menus</span>
       </a>
      <ul id="menu-collapse" class="accordion-body collapse" aria-expanded="false">
        <li [routerLinkActive]="['active']"><a routerLink="masters/subcategory">Add Menu</a></li> 
  
       
      </ul>
    </li>-->

  <!--<li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav" href="#masters-collapse">
			 <i class="fa fa-pencil"></i>
			 <span class="name">Masters</span>
		 </a>
    <ul id="masters-collapse" class="accordion-body collapse" aria-expanded="false">
      <li [routerLinkActive]="['active']"><a routerLink="masters/category">Category</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="masters/subcategory">SubCategory</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="masters/contractor">Contractor</a></li>
     
    </ul>
  </li>
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav" href="#forms-collapse">
			 <i class="fa fa-pencil"></i>
			 <span class="name">Forms</span>
		 </a>
    <ul id="forms-collapse" class="accordion-body collapse" aria-expanded="false">
      <li [routerLinkActive]="['active']"><a routerLink="form/account">Account</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="form/article">Article</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="form/elements">Elements</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="form/validation">Validation</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="form/wizard">Wizard</a></li>
    </ul>
  </li>
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#stats-collapse"><i class="fa fa-area-chart"></i> <span class="name">Statistics</span></a>
    <ul id="stats-collapse" class="accordion-body collapse" aria-expanded="false">
      <li [routerLinkActive]="['active']"><a routerLink="statistics/stats">Stats</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="statistics/charts">Charts</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="statistics/realtime">Realtime</a></li>
    </ul>
  </li>
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav" href="#ui-collapse"><i class="fa fa-magic"></i> <span class="name">User Interface</span></a>
    <ul id="ui-collapse" class="accordion-body collapse" aria-expanded="false">
      <li [routerLinkActive]="['active']"><a routerLink="ui/buttons">Buttons</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="ui/dialogs">Dialogs</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="ui/notifications">Notifications</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="ui/icons">Icons</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="ui/tabs">Tabs</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="ui/accordion">Accordion</a></li>
    </ul>
  </li>
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav" href="#components-collapse"><i class="fa fa-tree"></i> <span class="name">Components</span></a>
    <ul id="components-collapse" class="accordion-body collapse" aria-expanded="false">
      <li [routerLinkActive]="['active']"><a routerLink="components/calendar">Calendar <sup class="text-danger fw-bold">ng2</sup></a></li>
      <li [routerLinkActive]="['active']"><a routerLink="components/maps">Maps</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="components/gallery">Gallery <sup class="text-danger fw-bold">ng2</sup></a></li>
      <li [routerLinkActive]="['active']"><a routerLink="components/fileupload">Fileupload</a></li>
    </ul>
  </li>
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav" href="#tables-collapse"><i class="fa fa-cog"></i> <span class="name">Tables</span></a>
    <ul id="tables-collapse" class="accordion-body collapse" aria-expanded="false">
      <li [routerLinkActive]="['active']"><a routerLink="tables/static">Static</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="tables/dynamic">Dynamic <sup class="text-danger fw-bold">ng2</sup></a></li>
    </ul>
  </li>
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav" href="#widgets-collapse"><i class="fa fa-th"></i> <span class="name">Widgets</span></a>
    <ul id="widgets-collapse" class="accordion-body collapse" aria-expanded="false">
      <li [routerLinkActive]="['active']"><a routerLink="widgets/basic">Basic</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="widgets/live">Live</a></li>
    </ul>
  </li>
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav" href="#special-collapse"><i class="fa fa-leaf"></i> <span class="name">Special</span></a>
    <ul id="special-collapse" class="accordion-body collapse" aria-expanded="false">
      <li [routerLinkActive]="['active']"><a routerLink="special/search">Search <sup class="text-warning fw-bold">new</sup></a></li>
      <li [routerLinkActive]="['active']"><a routerLink="special/invoice">Invoice</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="special/inbox">Inbox &nbsp; <span class="badge badge-danger">3</span></a></li>
      <li><a routerLink="/login" >Login</a></li>
      <li><a routerLink="/error">Error Page</a></li>
      <li><a routerLink="/landing">Landing</a></li>
    </ul>
  </li>
  <li class="accordion-group panel">
    <a (click)="sidebarBehavior($event)" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav" href="#menu-collapse"><i class="fa fa-folder-open"></i> <span class="name">Menu Levels</span></a>
    <ul id="menu-collapse" class="accordion-body collapse" aria-expanded="false">
      <li><a href="#">Item 1.1</a></li>
      <li><a href="#">Item 1.2</a></li>
      <li><a href="#">Item 1.3</a></li>
    </ul>
  </li>-->
</ul>

<!--<h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>

<ul class="sidebar-labels">
  <li>
    <a href="#">
      
      <i class="fa fa-circle text-warning"></i>
      <span class="label-name">My Recent</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-circle text-gray"></i>
      <span class="label-name">Starred</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-circle text-danger"></i>
      <span class="label-name">Background</span>
    </a>
  </li>
</ul>

<h5 class="sidebar-nav-title">Projects</h5>

<div class="sidebar-alerts">
  <div class="alert fade show">
    <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
    <span class="text-white fw-semi-bold">Sales Report</span> <br>
    <div class="progress progress-xs bg-blue-light mt-xs mb-0">
      <div class="progress-bar progress-xs" role="progressbar" style="width: 16%" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <small>Calculating x-axis bias... 65%</small>
  </div>
  <div class="alert fade show">
    <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
    <span class="text-white fw-semi-bold">Personal Responsibility</span> <br>
    <div class="progress progress-xs bg-blue-light mt-xs mb-0">
      <div class="progress-bar progress-xs bg-danger" role="progressbar" style="width: 23%" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <small>Provide required notes</small>
  </div>
</div>-->
